
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <h1>My First Razor Page!!!</h1>
    <h1>Today Date: @DateTime.Now</h1>
</body>
</html>
