<header style="width:700px;height:100px;background-color:blueviolet;text-align:center;margin-left:auto;
margin-right:auto;border:1px solid blue">
    
    <h1 style="color:white">My Banner</h1>
</header>

